.out-of-stock
{
    background-color: yellow;
}

.search-result
{
    border-collapse: collapse;
}

.search-result th, .search-result td
{
    padding: 5px;
    border: solid 1px;
    text-align: center;
}

.search-filter
{
    display: flex;
    padding-bottom: 5px;
}

.filter-item
{
    padding-right: 5px;
}